* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 1em;
  font-family: poppins, sans-serif;
  background-color: #f6f7fb;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.4em 1em;
}

.profile-icon,
.chat-icon {
  width: 2.1em;
  height: 2.1em;
  object-fit: contain;
}

.logo-icon {
  width: 84px;
  height: 40px;
  object-fit: contain;
}

main {
  margin-bottom: 24.5px;
}

#dog-intro {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

/* TYPOGRAPHY */

h1 {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 2.5rem;
  color: #f8f8f8;
}

p {
  font-weight: 400;
  margin-top: 7.23px;
  font-size: 2rem;
  color: #b7b7b7;
}

#end-message {
  color: #a5a8ad;
  text-align: center;
  position: relative;
  top: 11em;
}

/* BUTTONS */

button {
  border: none;
  border-radius: 50%;
  padding: 20px;
  margin-left: 14px;
  margin-right: 14px;
  background-color: #ffffff;
  box-shadow: 0px 10px #e9e9ea;
}

.btn-dislike:hover,
.btn-dislike:focus {
  background-color: #ffe7ef;
  box-shadow: 0px 10px #edd9df;
}

.btn-like:hover,
.btn-like:focus {
  background-color: #dbfff4;
  box-shadow: 0px 10px #ccf1e6;
}

#reload-btn {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 300px;
}

/* DOG IMAGES */

#dog-card,
.dog-img {
  border-radius: 13px;
}

#dog-card {
  width: 100%;
  position: relative;
  width: 100%;
}

/* STAMP */

#like-badge img,
#nope-badge img {
  transform: rotate(-30deg);
  margin-left: 15px;
  position: absolute;
  top: 50px;
  width: 35%;
  z-index: 3;
}
